extends layout

block content
  div#canvas(oncontextmenu='return false;')
    h1 
      | Whiteboard: 
      =id
    ul#colorSelect.unselectable 
      -for(var i=0; i < colorCount;i++){
        li(data-color=colors[i])
      -}
    ul#lineWidth.unselectable 
      -for(var i=1;i<15; i += 2){
        li(height=i, data-line-height=i)
      -}
    canvas#whiteboard.unselectable(width=800, height=600, data-id=id)
    //- canvas#whiteboard.unselectable(width=640, height=480, data-id=id)
    
